{% extends 'accounts/base.html' %}


{% block title %}
  Login - Slambox
{% endblock %}

{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}


{% block content %}
<br><br>
<div class="container">
    
	<div class="row justify-content-center mt-5 ">
		<div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->
                    <form action="login" method="post">  
                        {% csrf_token %}
                        <div class="card border-success rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-success text-white text-center py-2">
                                    <h3><i class="fa fa-sign-in"></i> Login</h3>
                                    <!-- <p class="m-0">Feel free to contact us</p> -->
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-success"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-key text-success"></i></div>
                                        </div>
                                        <input type="password" class="form-control" id="password" name="password1" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Login" class="btn btn-success btn-block rounded-0 py-2">
                                </div>
                            </div>
                        
                        </div>
                    </form>

                    <!--Form with header-->

                    <br>

                    <div class="col-6 offset-3">
                        <div class="text-center">
                            <a style="border-radius: 10px;" class="btn btn-success btn-block" href="/signup">Create account</a>
                        </div>
                    </div>


                    {% if messages %}
                    <div class="p-3 m-2 bg-danger text-white">
                        {% for message in messages%}
                            {{message}}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
 
    
    
         </div>
    
    
    
</div>

<footer class="footer footer-slambook bg-success">
    <div class="h4 title text-center">
        Slambox
    </div>
    <div class="text-center">
      <p>Create Your Slambook.</p>
    </div>
  </footer>
{% endblock %}