{% extends 'accounts/base.html' %}

{% block metatag %}
  <meta name="description" content="Slambox is the electronic version of physical slambooks. This is the social website helps us to recollect our memories with our friends and relatives.It also gives the medium to tell your feelings to your near and dear ones.">
  <meta name="keywords" content="Slambox, Slambook, bored, anonymous">
{% endblock %}

{% block title %}
  Slambox : Crate Your Slambook
{% endblock %}

{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}


{% block content %}
<br><br>
<a href="http://slambox.in/profile/john"></a>
<a href="http://slambox.in/profile/pranay"></a>
<!-- Jumbotron code -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Slambox</h1><br>

    
    <p style="font-size: larger" class="lead text-center">Slambook is not just a book in which information of friends is
      written, but it's a memory of golden moment's we spent with dear friends.
      
      <br>
    </p>

    <br>


      
      {% if user.is_authenticated %}
      <p class="lead text-center">
        <a style="border-radius: 10px;" class="btn btn-success" href="profile/{{request.user}}" role="button">Go to profile</a>
      </p>
      {% else %}

      <p class="lead text-center">
        Free... Sign up now.
      </p>
      <p class="lead text-center">
        <a style="border-radius: 10px;" class="btn btn-success m-4" href="signup" role="button">Sign Up</a>
        <a style="border-radius: 10px;" class="btn btn-success m-4" href="login" role="button">Log in</a>
      </p> 
      {% endif %}

  </div>
</div>

<br>

<div style="font-size: larger" class="container text-justify">

  <p>
      &nbsp&nbsp&nbsp&nbsp The world has gone through different ages, now it's time for the electronic age. There was a time when we wished to have our slam book filled we had to purchase them, then it had its own constraints like it restricted parallel access of the book, we cannot customize the questions according to our wish and it also had the risk of getting lost or destroyed.
    <br>&nbsp&nbsp&nbsp&nbsp Slambox.in is the Electronic version of physical slam books whose core concept is taken from hard-coded slam books with additional features. This is the social app that helps us to recollect our memories with our friends and relatives. It also helps you to know about yourself what you are good and bad at, thus helps a person to modify oneself accordingly. It also gives the medium to tell your feelings to your near and dear ones.
  </p>
  
</div>


<br>

<div class="container">
  <div class="card">
    <div class="card-body bg-light">
      <div class="display-4 text-center">
        What we offer?
      </div>
    <br>
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center text-capitalize">Slambook for everyone</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">You can create your slambook on our platform and just with the link your friends can fill up your slambook.</p>
            <p class="card-text">Received slam will be displayed on your profile along with privacy options.</p>
          </div>
        </div>
      </div>
      <br>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center text-capitalize">secret message service</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">This service allows you to send anonymoys message to your friends.</p>
            <p class="card-text">You can also recive anonymous message on your profile from your friends or relatives.</p>
          </div>
        </div>
      </div>
      
    </div>
    </div>
  </div>  
</div>

<br><br><br>

<!-- carousel code -->

<div class="h4 text-center text-capitalize">
  What user says?
</div>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            Comment 1
          </div>
          <div class="card-body px-5">
            <h5 class="card-title p-4">"Slambox.in is a millenials Slambook."
              <br>
              <div class="text-right mr-4">
                <br> #Slambox <br>
                #NostalgiaHitHard
              </div>
            </h5>
          </div>
        </div>    
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            Comment 2
          </div>
          <div class="card-body px-5">
            <h5 class="card-title p-4">"Slambook for others but FIRST INFORMATION REPORT about the crush is reality."
              <br>
              <div class="text-right mr-4">
               <br> #Slambox <br>
                #ThoseWereTheDays
              </div>
            </h5>
            
          </div>
        </div>    
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            Comment 3
          </div>
          <div class="card-body px-5">
            <h5 class="card-title p-4">"I created a profile few day's back, got filled for fun by many. This Slambook will give me goosebumps forever."
              <br>
              <div class="text-right mr-4">
               <br> #Slambox <br>
                #NostalgiaHitHard
              </div>
            </h5>
          </div>
        </div>    
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<br>
<br>
<br>
<br>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}


   
  {% block footer%}
      {% include "pages/footer.html" %}
  {% endblock %}

