{% extends 'accounts/base.html' %}

<h1>Mail sending fail... No email list loaded</h1>

{% block content %}
<br>
<div>
    <div style="padding: 10px; background-color: #28a745; color: white;   text-align: center;"> 
        <h2>Slambox: Create Your Slambook</h2>
    </div>

    
    <br>
    <div style="text-align: center;">
        <a
        style="display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        
        
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        text-decoration: none;
        font-size: larger;"
        href="http://slambox.in/">Create Account</a>
        <br><br>

        <p style="text-align: center;"><a href="http://slambox.in/">Slambox</a> website provide two features 
            <b>A Slambook</b> and
            <b>Anonymous Messaging</b>
        </p>

    </div>

    <div style="padding: 10px; text-align: justify;">        
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The world has gone through different ages, now it's time for the electronic age. There was a time when we wished to have our slam book filled we had to purchase them, then it had its own constraints like it restricted parallel access of the book, we cannot customize the questions according to our wish and it also had the risk of getting lost or destroyed.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://slambox.in/">Slambox.in</a> is the Electronic version of physical slam books whose core concept is taken from hard-coded slam books with additional features. This is the social app that helps us to <b>recollect our memories</b> with our <b>friends</b> and <b>relatives</b>. It also helps you to know about yourself what you are good and bad at, thus helps a person to modify oneself accordingly. It also gives the medium to tell your feelings to your near and dear ones.
        </p>
        
        
    </div>

    <div style="text-align: center;">
        <p>Create your account on <a href="http://slambox.in/">Slambox.in</a> and claim your slambook now.</p>
        <a
        style="
            display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        
        
        color: #fff;
        background-color: #28a745;


        text-decoration: none;
        font-size: larger;
        "
         href="http://slambox.in/">Slambox</a>
    </div>
    <br><br>
    
</div>

{% endblock %}