{% extends 'accounts/base.html' %}


{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}


{% block content %}

  <br><br>

  {% if name == username%}
    {% if profile_complete <= 80%}
    <div class="alert alert-danger text-center">
      <p>Only {{profile_complete}}% profile is completed</p><br>
      <p>Click on update profile to complete your profile</p>
    </div>
    {% endif %}
  {% endif %}  
  <!-- Jumbotron code -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">{{data.name|default_if_none:"" }} {{data.lastname|default_if_none:"" }}</h1><br>
    
    <p class="lead text-center">{{data.about|default_if_none:"" }}</p>

    <hr class="my-4">
    
    <br>
    
      
      {% if username == name %}
      <div class="row text-center">
        <div class="col">
          <a class="btn btn-success m-3" href="/profile/{{request.user}}/userbio" role="button">Update profile</a>
        </div>

      </div>

      <br>

      <div class="row text-center">
        <div class="col">
          <a class="btn btn-success m-3" href="/profile/{{request.user}}/slambook" role="button">Explore Slambook</a>
        </div>
        <div class="col">
          <a class="btn btn-success m-3" href="/profile/{{request.user}}/secretmessages" role="button">Secret Messages</a>
        </div>
        
      </div>

      {% else %}

        

        <div class="row text-center">
          <div class="col m-2">
            <a class="btn btn-success m-2" href="/profile/{{name}}/writeslam" role="button">Slam for {{name}}</a>
          </div>
          <div class="col m-2">
            <a class="btn btn-success m-2" href="/profile/{{name}}/writesecretmessage" role="button">Secret Message</a>
          </div>
          
        </div>
      </div>              

  </div>  
        
  {% endif %}

    <br><br>


{% endblock %}

{% block profile %}

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">{{data.name|default:"Person"}}'s Information:</h5>
    <p class="card-text"><b>Name:</b> {{data.name|default_if_none:""}} {{data.lastname|default_if_none:""}}</p>
    <p class="card-text"><b>Birthdate:</b> {{data.birthdate|date:"D,  d M,Y"}}</p>
    <p class="card-text"><b>Occupation:</b> {{data.occupation|default_if_none:""}}</p>
    <p class="card-text"><b>Institute/Company:</b> {{data.company|default_if_none:""}}</p>
    <p class="card-text"><b>Contact:</b> {{data.mobile|default_if_none:""}}</p>
    <p class="card-text"><b>Email:</b> {{data.email|default_if_none:""}}</p>
    <p class="card-text"><b>Instagram:</b> {{data.insta_username|default_if_none:""}}</p>
    
  </div>
</div>
<br><br>


<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">{{data.name|default:"Person"}}'s First:</h5>
    <div class="form-row">
      <div class="form-group col-11">
        <label for="rule">1. First Big Achievement:</label>
        <textarea class="form-control mx-3" id="rule" name="rule" rows="3" disabled>{{data.achievement}}</textarea>
      </div>
    </div>

    
    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="risk">2. First Risk I Ever Took:</label>
        <textarea class="form-control mx-3" id="risk" name="risk" rows="3" disabled >{{data.risk}}</textarea>
      </div>
    </div>

    
    
    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="happy">3. First Time I Felt Completely Happy:</label>
        <textarea class="form-control mx-3" id="happy" name="happy" rows="3" disabled>{{data.happy}}</textarea>
      </div>
    </div>
    
    
    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="rule">4. First Rule I'ld Make as President:</label>
        <textarea class="form-control mx-3" id="rule" name="rule" rows="3" disabled>{{data.rule}}</textarea>
      </div>
    </div>


  </div>

</div>

<br><br>

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">{{data.name|default:"Person"}}'s What?</h5>
    
    <div class="form-row">
      <div class="form-group col-11">
        <label for="fear">1. What is your biggest fear?</label>
        <textarea class="form-control mx-3" id="fear" name="fear" rows="3" disabled>{{data.fear}}</textarea>
      </div>
    </div>

    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="evening">2. What do you do in the evening?</label>
        <textarea class="form-control mx-3" id="evening" name="evening" rows="3" disabled>{{data.evening}}</textarea>
      </div>
    </div>

    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="bed">3. What time do you ususally go to bed?</label>
        <textarea class="form-control mx-3" id="bed" name="bed" rows="3" disabled>{{data.bed}}</textarea>
      </div>
    </div>


    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="job">4. What would be your dream job?</label>
        <textarea class="form-control mx-3" id="job" name="job" rows="3" disabled>{{data.job}}</textarea>
      </div>
    </div>
    
    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="distract">5. What distracts you?</label>
        <textarea class="form-control mx-3" id="distract" name="distract" rows="3" disabled>{{data.distract}}</textarea>
      </div>
    </div>

    <hr class="my-4">

    <div class="form-row">
      <div class="form-group col-11">
        <label for="wish">6. What is your biggest wish?</label>
        <textarea class="form-control mx-3" id="wish" name="wish" rows="3" disabled>{{data.wish}}</textarea>
      </div>
    </div>

    


  </div>

</div>
<br><br>

<div class="container">

  

      {% if slams %}

      <h1 class="display-4 text-center">{{data.name|default_if_none:name }}'s Slambook</h1><br>

      <div class="row">  
          {% for slam in slams %}
      <a href="#{{slam.id}}">&nbsp;</a>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          {% if slam.privacy %}
          <div class="card border-danger">
          {% else %}
              <div class="card border-success">
          {% endif %}
              <div class="card-body">
                  <h5 class="card-title text-center"><a class="text-decoration-none text-capitalize" href="/profile/{{slam.from_username}}" >{{ slam.from_username}}</a></h5>
                  
                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">1. {{slam.to_username}}'s no saved in your phone as</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.no_saved}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">2. Any nickname for {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.nickname}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">3. Colour which suits on {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.color_suits}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">4. Your relation with {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.relation}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">5. Likes in {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.like}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">6. Dislikes in {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.dislike}}</div>
                      </div>
                  </div>
              
                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">7. Things that are similar between you and {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.similar_things}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">8. Any sweet memory with {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.sweet_memory}}</div>
                      </div>
                  </div>
                
                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">9. Any song dedicated for {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.song}}</div>
                      </div>
                  </div>
                
                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">10. Advice for {{slam.to_username}}:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.advice}}</div>
                      </div>
                  </div>

                  <div class="card my-2">
                      <div class="card-body bg-light">
                          <div class="card-title font-weight-bold m-1 text-capitalize">11. Can I post this slam as a story:</div>
                          <div class="card-text mx-1 text-justify"><b>Ans: </b>{{slam.share}}</div>
                      </div>
                  </div>
                <br>
                <div class="row">
                     
                  <div class="col mx-2 text-center">
                      <a href="/profile/{{slam.from_username}}" class="btn btn-outline-success">{{slam.from_username}}'s profile</a>
                  </div>
                
                
                
                </div>

              </div>
          </div>
      </div>

      {% endfor %}

      {% else %}
          <div class="alert alert-danger text-capitalize">Public slams not available</div>
  {% endif %}

  </div>

</div>



{% endblock %}