
<h1>Received secret messages:</h1>
<br>

{% if datasource_received %}

<span>No of messages received:</span>{{datasource_received|length}} <br>
    <div class="p-3 mb-2 bg-success text-white text-center mt-3">
        {% for data in datasource_received%}
        
                {{data.message}}
                <br>
        
        {% endfor %}
    </div>

{% else %}    

<h3>You have not received any secret message yet</h3>

{% endif %}




<h1>Sent secret messages:</h1>
<br>

{% if datasource_sent %}

<span>No of messages sent:</span>{{datasource_sent|length}} <br>
    <div class="p-3 mb-2 bg-success text-white text-center mt-3">
        {% for data in datasource_sent%}
            <b>Message to {{data.to_username}}:</b>
                {{data.message}}
         <br>
        
        {% endfor %}
    </div>

{% else %}    

<h3>You have not received any secret message yet</h3>

{% endif %}