{% extends 'accounts/base.html' %}


{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}



{% block content %}
<br><br>

<div class="alert alert-primary" role="alert">
    <h4>Received secret messages:</h4> 
</div>

<br>


{% if datasource_received %}

<span>Total messages: </span>{{datasource_received|length}} <br>
    <!-- <div class="p-3 mb-2 bg-success text-white text-center mt-3"> -->
        <br>
    <div class="card bg-light">
        <div class="card-body">
        
        {% for data in datasource_received%}
        
            <div class="form-row">
                <div class="form-group col-11">
                <div class="mx-3">
                    <label for="rule">{{ forloop.counter }}.</label>
                </div>
                <textarea class="form-control mx-3" id="rule" name="rule" rows="3" disabled>{{data.message}}</textarea>
                </div>
            </div>
        
            
            <hr class="my-4">

        
        {% endfor %}
        </div>
    </div>    
    <!-- </div> -->

{% else %}    

<h3>You have not received any secret message yet</h3>

{% endif %}




<br><br><br><br>
<div class="alert alert-warning" role="alert">
    <h4>Sent secret messages:</h4>
</div>
<br>

{% if datasource_sent %}

<span>Total messages: </span>{{datasource_sent|length}} <br>
    <br>
    <div class="card bg-light">
        <div class="card-body">
        {% for data in datasource_sent%}
            <!-- <b>Message to {{data.to_username}}:</b>
                {{data.message}}
            <br> -->
            <div class="form-row">
                <div class="form-group col-11">
                <div class="mx-3">
                    <label for="rule">{{ forloop.counter }}. Message to {{data.to_username}}: </label>
                </div>
                <textarea class="form-control mx-3" id="rule" name="rule" rows="3" disabled>{{data.message}}</textarea>
                </div>
            </div>
        
            
            <hr class="my-4">
        
        {% endfor %}
        </div>
    </div>

{% else %}    

<h3>You have not sent any secret message yet</h3>

{% endif %}
<br><br><br>
{% endblock %}