{% extends 'accounts/base.html' %}


{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}


{% block content %}


<br><br><br>


<div class="container">

    

    <form>

        <h1 class="display-4">Personal</h1>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" value={{request.user}} disabled>
            <small id="emailHelp" class="form-text text-muted">You can't change username for slambook.</small>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="firstname">First Name:</label>
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lastname">Last Name:</label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
            </div>
          </div>
        </div>


        <!-- user birthdate field and gender field -->

        <div class="form-row">
          <div class="form-group col">
              <label for="datepicker-13">Birthdate</label>
              <input class="form-control" type="date" placeholder="Birthdate" name="datepicker-13" id="datepicker-13">              
          </div>
          <div class="col">
            <label for="inputGender">Gender</label>
            <select id="inputGender" aria-placeholder="Gender" class="form-control">

              <!-- <option value="" disabled selected>Select Gender</option> -->
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col">
              <label for="occupation">Occupation:</label>
              <input class="form-control" type="text" placeholder="Occupation" name="occupation" id="occupation">              
          </div>
          <div class="form-group col">
            <label for="company">Institute/Company:</label>
            <input class="form-control" type="text" placeholder="Institute/Company" name="company" id="company">              
          </div>
        </div>


        <!-- mobile user input field -->
        <div class="form-row">
          <div class="form-group col-6">
            <label for="mobile">Mobile No:</label>
            <input type="text" class="form-control" id="mobile" aria-describedby="mobile" placeholder="Enter mobile no">
          </div>
        </div>


      </form>
</div>



{% endblock %}


   
  {% block footer%}
      {% include "pages/footer.html" %}
  {% endblock %}

