{% extends 'accounts/base.html' %}


{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}


{% block content %}


<div class="container">


  <br><br><br>
  
    

    <form action="/profile/{{request.user}}/userbio" method="post">
      {% csrf_token %}

        <h1 class="display-4">Personal</h1>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Enter username" value='{{request.user}}' disabled>
            <small id="emailHelp" class="form-text text-muted">You can't change username for slambook.</small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="about">Tell about yourself:</label>
            <textarea class="form-control" id="about" name="about" rows="3">{{data.about|default_if_none:""}} </textarea>
            <small id="emailHelp" class="form-text text-muted">This will be displayed in your profile's about section</small>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="firstname">First Name:</label>
              <input type="text" class="form-control" id="firstname" name="firstname" value='{{data.name|default_if_none:""}}' placeholder="Enter First Name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lastname">Last Name:</label>
              <input type="text" class="form-control" id="lastname" name="lastname" value='{{data.lastname|default_if_none:""}}' placeholder="Enter Last Name">
            </div>
          </div>
        </div>


        <!-- user birthdate field and gender field -->

        <div class="form-row">
          <div class="form-group col">
              <label for="datepicker-13">Birthdate</label>
              <input class="form-control" type="date" name="birthdate" placeholder="Birthdate" value={{data.birthdate|date:"Y-m-d"}} id="birthdate">              
          </div>
          <div class="col">
            <label for="inputGender">Gender</label>
            <select id="inputGender" name="gender" aria-placeholder="Gender" class="form-control">

              <!-- <option value="" disabled selected>Select Gender</option> -->
              <option value="Male">Male</option>
              

              {% if data.gender == 'Female' %}
                <option value="Female" selected>Female</option>
              {% else %}
                <option value="Female">Female</option>
              {% endif %}
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col">
              <label for="occupation">Occupation:</label>
              <input class="form-control" type="text" value='{{data.occupation|default_if_none:""}}' placeholder="Occupation" name="occupation" id="occupation">              
          </div>
          <div class="form-group col">
            <label for="company">Institute/Company:</label>
            <input class="form-control" type="text" value='{{data.company|default_if_none:""}}' placeholder="Institute/Company" name="company" id="company">              
          </div>
        </div>

        <!-- mobile user input field -->
        <div class="form-row">
          <div class="form-group col-6">
            <label for="mobile">Mobile No:</label>
            <input type="text" pattern="[789][0-9]{9" title="Not a valid number" maxlength="10" name="mobile" class="form-control" id="mobile" value='{{data.mobile|default_if_none:""}}' aria-describedby="mobile" placeholder="Enter mobile no">
          </div>
        </div>


        <br><br>


        <h1 class="display-4">Online me:</h1>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" value='{{data.email|default_if_none:""}}' id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Instagram username:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value='{{data.insta_username|default_if_none:""}}' id="inputPassword3" name="insta_username" placeholder="Instagram username">
          </div>
        </div>


        <br><br>

        <h1 class="display-4">First's:</h1>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="achievement">1. First Big Achievement:</label>
            <textarea class="form-control" id="achievement" name="achievement" rows="3" >{{data.achievement|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="risk">2. First Risk I Ever Took:</label>
            <textarea class="form-control" id="risk" name="risk" rows="3" >{{data.risk|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="happy">3. First Time I Felt Completely Happy:</label>
            <textarea class="form-control" id="happy" name="happy" rows="3" >{{data.happy|default_if_none:""}}</textarea>
          </div>
        </div>
        
        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="rule">4. First Rule I'ld Make as President:</label>
            <textarea class="form-control" id="rule" name="rule" rows="3" >{{data.rule|default_if_none:""}}</textarea>
          </div>
        </div>


        <br><br>

        <h1 class="display-4">What Question's:</h1>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="fear">1. What is your biggest fear?</label>
            <textarea class="form-control" id="fear" name="fear" rows="3" >{{data.fear|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="evening">2. What do you do in the evening?</label>
            <textarea class="form-control" id="evening" name="evening" rows="3" >{{data.evening|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="bed">3. What time do you ususally go to bed?</label>
            <textarea class="form-control" id="bed" name="bed" rows="3" >{{data.bed|default_if_none:""}}</textarea>
          </div>
        </div>


        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="job">4. What would be your dream job?</label>
            <textarea class="form-control" id="job" name="job" rows="3" >{{data.job|default_if_none:""}}</textarea>
          </div>
        </div>
        
        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="distract">5. What distracts you?</label>
            <textarea class="form-control" id="distract" name="distract" rows="3" >{{data.distract|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="wish">6. What is your biggest wish?</label>
            <textarea class="form-control" id="wish" name="wish" rows="3" >{{data.wish|default_if_none:""}}</textarea>
          </div>
        </div>

        <br>

        <div class="text-center">
          <input type="submit" value="Update" class="btn btn-success btn-block rounded-0 py-2">
        </div>
        <br>
        <br>
      </form>
</div>

<script>

</script>


{% endblock %}


   
  {% block footer%}
      {% include "pages/footer.html" %}
  {% endblock %}

