{% extends 'accounts/base.html' %}

{% block metatag %}
  <meta name="description" content="Slambox is the electronic version of physical slambooks. This is the social website helps us to recollect our memories with our friends and relatives.It also gives the medium to tell your feelings to your near and dear ones.">
  <meta name="keywords" content="Slambox, Anonymous">
{% endblock %}

{% block title %}
    write Secret Message : Slambox
{% endblock %}

{% block navbar%}
    {% include "pages/navbar.html" %}
{% endblock %}



{% block content %}
<br><br><br>

<form action="/profile/{{name}}/writesecretmessage" method="post">
    {% csrf_token %}
    <div>
            
        <div class="form-row">
            <div class="form-group col-12">
                <label for="message">Write secret message to {{name}}:</label>
                <br>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>
            </div>

        <input class="btn btn-success" type="submit" value="Send message" name="_save">
    </div>
</form>


    {% if datasource %}
        <br><br><br><br><br><br><br>

        <div class="alert alert-success" role="alert">
            <span>No of secret messages to {{name}}: </span>{{datasource|length}} 
        </div>
        <br>
        <div class="card bg-light">
            <div class="card-body">
              
            
                {% for data in datasource%}

                    <div class="form-row">
                        <div class="form-group col-11">
                        <div class="mx-3">
                            <label for="rule">{{ forloop.counter }}.</label>
                        </div>
                        <textarea class="form-control mx-3" id="rule" name="rule" rows="3" disabled>{{data.message}}</textarea>
                        </div>
                    </div>
                
                    
                    <hr class="my-4">
                    
                
                {% endfor %}
            </div>
        </div>    
    {% endif %}   
<br><br>
{% endblock %}