<p>writesecretmessage works!</p>




<form action="/profile/{{name}}/writesecretmessage" method="post">
        {% csrf_token %}
        <div>
            
                    <div>
                            <label for="message">Message:</label>
                                <textarea name="message" id="message" cols="40" rows="10" required>
                                </textarea>
                            
                    </div>
                    <input type="submit" value="Send message" class="default" name="_save">
        </div>
</form>


{% if datasource %}

<span>No of messages:</span>{{datasource|length}} <br>
    <div class="p-3 mb-2 bg-success text-white text-center mt-3">
        {% for data in datasource%}
        
                {{data.message}}
                <br>
        
        {% endfor %}
    </div>

{% endif %}   